.tableheading {
    color: #ffffff; background-color: green; font-size: 14pt; font-weight: bold; text-align: center; padding: 10px
}

.subheading {
    text-align: center;
    font-size: 10pt;
    color: #ffffff; background-color: green;
    vertical-align: text-top;}

.sidebar {
    position: absolute;
    top: 10px;
    left: 5px;
    width: 250px
}

.pageContent {
    position: absolute;
    top: 10px;
    left: 255px;
    width: 100%;
}

.statusMessage {
    padding-bottom: 5px;
    font-weight: bold;
    background-color: blue;
    color: white;
    padding-top: 5px;
/*margin-bottom: 10px;*/
    text-align: center;
    border: 1px solid black
}

.errorMessage {
    padding-bottom: 10px;
    background-color: red;
    color: white;
    font-weight: bold;
    padding-top: 5px;
    /*margin-bottom: 10px;*/
    text-align: center;
    border: 1px solid black
}

.label {
    text-align: right;
    font-weight: bold;
    vertical-align: top;
}
.value {
    text-align: left;
    vertical-align: top;
}

.breadcrumb {
    color: green;
    padding-bottom: 10px;
    text-align: left;
}

.required {
    color: red;
}

tr.headerRow {
    background-color: #efefef;
}
tr.headerRow td {
    font-weight: bold;
    color: #108810;
    font-family: serif;
    font-size: 16;
    text-align: center;
}

tr.even {
    background-color: #ffffff;
}

tr.odd {
    background-color: #efefef;
}

